@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --primary: #8147FF; */
  --primary: #1447E6;
  /* --primary: #237FEB; */

}

.dark {
  --background: #171717;
  --foreground: #ffffff;
  /* --primary: #f7c442; */
  --primary: #699af0;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  outline: none !important;
}
